@font-face {
  font-family: 'Changa';
  src: url('../../Fonts/Ar/Changa-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../Fonts/Eng/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --background: #201A18;
    --background-Secondry: #EDE0DB;
    --secondry-dark: #c5c1bf;
    --primary-dark: #FFB690;
    --on-primary-dark: #552100;
    --low-dark: #201A18;
    --highest-dark: #3A3330;
    --primary-text: #EDE0DB;
    --secondry-text: #a3a3a3;
    --primary-container-dark: #783200;
    --secondary-container-dark: #5C4032;
    --on-secondary-container-dark: #FFDBCA;
}